<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Disease Analysis</title>
  </head>
  <body>
      <style>
          .card {
            margin: 18% auto;        
            padding: 10px;
          }
          .card-img-top {
        height: 15rem;
        width: 15rem;
         background-color: #777;
        }
      </style>
<div class="card " style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="card-img-top" src="maize1.jfif" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Your Crop is completely healthy</h5>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">No cure needed</h5>
        <p class="card-text"></p>
      </div>
    </div>
</div>
    

</html>